header .banner {
    display: none;
} 

header nav h1 {
    display: block;
}

@media only screen and (min-width: 45em) {
   header .banner{
        display: block;
        width: 100%;
    }

    header .banner figure {
    }

    header .banner figure.first img {
        float: right;
    }

    header .banner figure img.col-12 {
        width: auto;
        height: 200px;
    }

    header .banner figure, header .banner h1 {
        width: calc((100% - 200px)/2);
        height: 200px;
        background: #262727;
        overflow: hidden;
        float: left;
    }

    header .banner h1 {
        width: 200px;
        text-align: center;
    } 

    header .banner h1 img {
        font-size: 30px;
    }

    header .banner img {
        width: 100%;
    }

    header nav h1 {
        display: none;
    }

    header.row nav.col-12 ul {
        margin: 0;
    }

    header ul.social {
        top: 140px;
        right: 0;
    }

    section.container.row article {
        width: 83.33%;
    }

    section.container article h2.col-12 {
        margin-bottom: 0;
    }

    section.container article figure.banner {
        width: 100%;
        margin: 1em 0;
    }
}
