@font-face {
	font-family: pridi;
	src: url('../fonts/pridi-regular-webfont.eot');
	src: url('../fonts/pridi-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 local('Pridi Regular'),
		 local('Pridi-Regular'),
		 url('../fonts/pridi-regular-webfont.woff2') format('woff2'),
		 url('../fonts/pridi-regular-webfont.woff') format('woff'),
		 url('../fonts/pridi-regular-webfont.ttf') format('truetype'),
		 url('../fonts/pridi-regular-webfont.svg#pridi-regular') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

/*@font-face {
	font-family: pridi-extralight;
	src: url('../fonts/pridi-extralight-webfont.eot');
	src: url('../fonts/pridi-extralight-webfont.eot?#iefix') format('embedded-opentype'),
		 local('Pridi ExtraLight'),
		 local('Pridi-ExtraLight'),
		 url('../fonts/pridi-extralight-webfont.woff2') format('woff2'),
		 url('../fonts/pridi-extralight-webfont.woff') format('woff'),
		 url('../fonts/pridi-extralight-webfont.ttf') format('truetype'),
		 url('../fonts/pridi-extralight-webfont.svg#pridi-extralight') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}*/

@font-face {
	font-family: roboto;
	src: url('../fonts/roboto-regular-webfont.eot');
	src: url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 local('Roboto Regular'),
		 local('Roboto-Regular'),
		 url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
		 url('../fonts/roboto-regular-webfont.woff') format('woff'),
		 url('../fonts/roboto-regular-webfont.ttf') format('truetype'),
		 url('../fonts/roboto-regular-webfont.svg#roboto-regular') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

* {
	font-family: roboto;
}

h1, h2, h3, h4, h5, h6 {
	font-family: pridi;
}

body {
    background: url('../img/trama-sfondo.png');
}

header .banner {
    display: none;
} 

header nav h1 {
    display: block;
}

header nav ul li a, article nav ul li a {
	font-family: pridi;
}

header ul.social li a img {
	font-size: 0.7em;
	font-weight: bold;
}

footer.row p, footer.row p a {
	font-family: pridi;
}

#lightbox-background {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	background: #222;
	opacity: 0;
}

#lightbox-background, #lightbox-viewer, #go-up-button {
	cursor: pointer;
	transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	-webkit-transition: opacity 0.3s;
	-o-transition: opacity 0.3s;
}

#lightbox-background.active {
	display: block;
}

#lightbox-background.visible {
	opacity: 0.95;
}

#lightbox-viewer {
	display: none;
	position: fixed;
	top: 5%;
	left: 5%;
	margin: 0;	
	width: 90%;
	height: 90%;
	overflow-y: auto;
}

#lightbox-viewer.active {
	display: block;
	opacity: 0;

}

#lightbox-viewer.visible {
	opacity: 1;
}

#lightbox-viewer img {
	display: none;
	max-width: 100%;
	max-height: 100%;
	margin: 0 auto;
	cursor: default;
}

#lightbox-viewer img.visible {
	display: block;
}

#lightbox-viewer figcaption {
	text-align: center;
	cursor: default;
}

#go-up-button {
    display: none;
    position: fixed;
    right: 13px;
    bottom: 50px;
    background: #32373A;
    padding: 25px 37.5px;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    opacity: 0; 
} 

#go-up-button img {
    width: auto;
    height: 50px;
}

#go-up-button.active {
    display: block;
}

#go-up-button.visible {
    opacity: 1;
}

@media only screen and (min-width: 45em) {
	p, ul li {
        font-size: 1.3em;
    }
	
	header .banner{
        display: block;
        width: 100%;
    }

    header .banner figure.first img {
        float: right;
    }

    header .banner figure img.col-12 {
        width: 100%;
        height: auto;
    }

    header .banner figure, header .banner h1 {
        width: calc(50% - 100.5px);
        height: 200px;
        background: #262727;
        overflow: hidden;
        float: left;
    }

    header .banner h1 {
        width: 200px;
        text-align: center;
    } 

    header .banner h1 img {
        font-size: 30px;
    }

    header .banner img {
        width: 100%;
    }
	
	header.row nav.col-12 {
		width: 100%;
	}

    header nav h1 {
        display: none;
    }
	
	header nav.col-12 ul.col-12 {
		margin: 0;
	}

    header ul.social {
		position: absolute;
        top: -75px;
        right: 0;
		margin-right: 0;
    }

    section.container.row article {
        width: 83.33%;
    }

    section.container article h2.col-12 {
        margin-bottom: 0;
    }

    section.container article figure.banner {
        width: 100%;
        margin: 1em 0;
    }
}
