.col-1 {
	width: 4.33%;
}

.col-2 {
	width: 12.66%;
}

.col-3 {
	width: 21%;
}

.col-4 {
	width: 29.33%;
}

.col-5 {
	width: 37.66%;
}

.col-6 {
	width: 46%;
}

.col-7 {
	width: 54.33%;
}

.col-8 {
	width: 62.66%;
}

.col-9 {
	width: 71%;
}

.col-10 {
	width: 79.33%;
}

.col-11 {
	width: 87.66%;
}

.col-12 {
	width: 96%;
}

.hidden-sm {
	display: block;
}

header.row nav.col-12 h1 {
	width: 100px;
	margin: 0;
}

header.row nav.col-12 ul {
	margin: 30.5px;
}

header nav.container {
	max-width: 75em;
}

header nav ul li {
	display: inline;
	float: left;
	margin: 0 1em;
}

header nav ul li a {
	padding: 0.25em;
}

header ul.social {
	position: absolute;
	top: 25px;
	right: 0;
	margin-right: 0;
}

section.container a.nav {
	display: block;
	margin-top: 5em;
}

section.container.row article {
	width: 100%;
	margin: 0.5em 0;
}

section.row article p.first {
	text-align: justify;
	margin-top: 0;
}

article nav ul li {
	text-align: left;
}   

footer.row p, footer.row p a {
	font-size: 1em;
}

@media only screen and (min-width: 60em) {
    .container {
        width: 80%;
        max-width: 65em;
    }
}
