@font-face {
	font-display: swap;
	font-family: pridi;
	font-style: normal;
	font-weight: 400;
	src: local("Pridi Regular"),
	     local("Pridi-Regular"),
	     url("pridi-regular-webfont.woff2") format("woff2");
}

@font-face {
	font-display: swap;
	font-family: roboto;
	font-style: normal;
	font-weight: 400;
	src: local("Roboto Regular"),
	     local("Roboto-Regular"),
	     url("roboto-regular-webfont.woff2") format("woff2");
}

body {
	background-image: url("img/sfondo.png");
	font-family: roboto, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: pridi, serif;
}

.titolonews {
	font-size: 1.7em;
}

header .banner {
	display: none;
}

header .container {
	width: 100%;
}

header .logo {
	height: 2.5em;
	margin: .7em 2.5%;
	width: auto;
}

header .logo img {
	display: block;
	float: left;
	width: 2.5em;
}

header .logo .title {
	float: left;
	font-family: pridi, serif;
	font-size: 1.5em;
	line-height: 1;
	margin: .3em 0 0 .5em;
}

header .mobile-menu-icon {
	cursor: pointer;
	float: right;
	margin: .7em 2.5%;
	width: 1em;
}

header .mobile-menu-icon span {
	background: #dad4ca;
	display: block;
	margin: .5em 0;
	height: .2em;
	width: 1.5em;
}

header nav {
	display: none;
	background: #406880;
	border-left: .15em solid #fff;
	border-top: .15em solid #fff;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	position: fixed;
	right: -76%;
	top: 0;
	transition: right .33s;
	width: 75%;
	z-index: 1;
}

header nav.visible {
	display: block;
}

header nav.open {
	right: 0;
}

header.row nav .close-icon-container {
	padding: .2em 0;
}

header nav .close-icon-wrapper {
	cursor: pointer;
	float: right;
	height: 2.2em;
	margin-right: 3.25%;
	padding: .5em 0;
}

header nav .close-icon-wrapper img {
	height: 100%;
}

header nav ul {
	margin: 0 2.5%;
	width: 95%;
}

header nav ul li {
	float: none;
	text-align: left;
}

header nav ul li.first {
	margin-top: 0;
}

header nav ul li a {
	display: inline-block;
	padding: .5em;
}

.article nav ul li a,
header nav ul li a {
	font-family: pridi, serif;
}

header .socials-and-contacts {
	float: left;
	margin-left: 5.5%;
	margin-right: 0;
}

header .socials-and-contacts li a img {
	font-size: .7em;
	font-weight: 700;
}

footer.row p,
footer.row p a {
	font-family: pridi, serif;
}

.go-up-button {
	background: #dad4ca;
	border-radius: 3em;
	bottom: 2%;
	color: #19273d;
	display: none;
	font-weight: 700;
	line-height: 1;
	opacity: 0;
	padding: .7em .8em;
	position: fixed;
	right: 1%;
	text-align: center;
	z-index: 1;
}

.go-up-button img {
	color: #406880;
	height: 3.5em;
	width: 3.25em;
}

.container a.nav {
	display: none;
}

.lightbox-background {
	background: #222;
	height: 100%;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 2;
}

.lightbox-background,
.lightbox-viewer {
	display: none;
	opacity: 0;
	position: fixed;
}

.lightbox-background,
.lightbox-viewer,
.go-up-button {
	cursor: pointer;
	transition: opacity .3s;
}

.lightbox-viewer {
	height: 90%;
	left: 5%;
	overflow-y: auto;
	top: 5%;
	width: 90%;
	z-index: 3;
}

.lightbox-viewer img {
	cursor: default;
	display: none;
	margin: 0 auto;
	max-height: 100%;
	max-width: 100%;
}

.lightbox-viewer figcaption {
	cursor: default;
	text-align: center;
}

.lightbox-viewer .render,
.render {
	display: block;
}

.almost-visible {
	opacity: .95;
}

.visible {
	opacity: 1;
}

@media only screen and (min-width:  45em) {
	blockquote,
	ol li,
	p,
	ul li {
		font-size: 1.3em;
	}

	header .banner {
		display: block;
		width: 100%;
	}

	header .banner .first-figure img {
		float: right;
	}

	header .banner .logo,
	header .banner figure {
		background: #274151;
		float: left;
		height: 12.5em;
		overflow: hidden;
		width: calc(50% - 6.25em);
	}

	header .banner .logo {
		text-align: center;
		width: 12.5em;
	}

	header .banner .logo img {
		font-size: 1.5em;
	}

	header.row nav.col-12 {
		width: 100%;
	}

	header .banner .logo {
		display: block;
	}

	header .container {
		max-width: 80em;
		width: 100%;
	}

	header .logo {
		display: none;
	}

	header nav {
		background: 0 0;
		border: 0;
		display: block;
		position: static;
		transition: none;
		width: 100%;
	}

	header nav .close-icon-container {
		display: none;
	}

	header nav ul {
		margin: 0;
		width: 100%;
	}

	header nav ul li {
		float: left;
	}

	header nav ul li a {
		display: block;
		padding: .25em;
	}

	header .socials-and-contacts {
		position: absolute;
		right: 0;
		top: -5em;
		width: auto;
	}

	header .mobile-menu-icon {
		display: none;
	}

	.row .article {
		margin-left: 8.335%;
		margin-right: 8.335%;
		width: 83.33%;
	}

	.article .subtitle {
		margin-bottom: 0;
	}

	.article figure.banner {
		margin: 1em 2% 1em 0;
		width: 98%;
	}

	.go-up-button {
		bottom: 5%;
	}
	
	.container a.nav {
		display: block;
		margin-top: 5em;
	}
}
