body,
html {
	margin: 0;
}

body {
	background: #0b2c51;
	color: #dad4ca;
	line-height: 1.5;
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 1.15em;
}

h3 {
	font-size: 2.4em;
}

.article nav ul li a,
footer .disclaimer .title,
h4,
header nav ul li a {
	font-size: 1.2em;
}

h6 {
	font-size: .875em;
}

ol li,
p,
ul li {
	line-height: 1.8;
}

a {
	color: #dad4ca;
	text-decoration: none;
}

b,
strong {
	color: #fff;
}

blockquote {
	font-style: italic;
	padding: 2em 0 2em 5%;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.justify {
	text-align: justify;
}

.container {
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

.small-text {
	font-size: .75em;
}

.row {
	position: relative;
	width: 100%;
}

.row [class^="col"] {
	float: left;
	margin: .5em 2%;
	min-height: .125em;
}

.no-margin,
.row .full-width-no-margin,
.row .no-margin {
	margin: 0;
}

.row .full-width-no-lateral-margin,
.row .full-width-no-margin {
	width: 100%;
}

.row .full-width-no-lateral-margin {
	margin-left: 0;
	margin-right: 0;
}

.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9 {
	width: 96%;
}

blockquote.col-12 {
	width: 91%;
}

.col-1-sm {
	width: 4.33%;
}

.col-2-sm {
	width: 12.66%;
}

.col-3-sm {
	width: 21%;
}

.col-4-sm {
	width: 29.33%;
}

.col-5-sm {
	width: 37.66%;
}

.col-6-sm {
	width: 46%;
}

.col-7-sm {
	width: 54.33%;
}

.col-8-sm {
	width: 62.66%;
}

.col-9-sm {
	width: 71%;
}

.col-10-sm {
	width: 79.33%;
}

.col-11-sm {
	width: 87.66%;
}

.col-12-sm {
	width: 96%;
}

.row::after {
	clear: both;
	content: "";
	display: table;
}

.hidden-sm {
	display: none;
}

.lightblue-text {
	color: #add8e6;
}

.skip-nav {
	background: #000;
	border: solid .13em #fff;
	border-radius: 1em;
	color: #fff;
	font-size: 1em;
	left: -23em;
	padding: 1em 2%;
	position: fixed;
	top: 0;
	z-index: -1;
}

.skip-nav:focus {
	left: 0;
	z-index: 1;
}

header {
	background: #406880;
	overflow-x: auto;
	overflow-y: hidden;
}

header .container {
	max-width: none;
	width: 78em;
}

header .logo {
	float: left;
	height: 6em;
	text-align: center;
	width: 6em;
}

header .logo img {
	width: 100%;
}

header nav {
	width: 71em;
}

.article nav ul,
.socials-and-contacts,
header nav ul {
	list-style: none;
	padding: 0;
}

header nav {
	float: left;
}

header nav ul {
	float: left;
	margin: 2em 0 0 0;
	width: 55em;
}

header .socials-and-contacts {
	float: right;
	margin: 2.3em 0 0 0;
	width: 16em;
}

header nav ul li {
	float: left;
	margin: 0 1em;
}

.article nav ul li,
header nav ul li {
	text-align: center;
}

header nav ul.socials-and-contacts li a {
	padding: 0;
}

.article nav ul li a,
header nav ul li a {
	display: block;
	font-weight: 100;
	padding: .5em;
}

header nav ul li a {
	color: #dad4ca;
	padding: .25em;
}

.socials-and-contacts li {
	float: left;
	margin: .12em;
	text-align: center;
}

.socials-and-contacts li a {
	float: left;
}

.socials-and-contacts img,
.socials-and-contacts li a {
	height: 2em;
}

header nav ul.socials-and-contacts li a {
	font-size: 1em;
}

.article .subtitle {
	margin-bottom: 1em;
}

ol,
ul {
	padding: 0;
}

.article nav {
	background: #dad4ca;
	margin: 0;
	padding: .5em 2%;
}

.article nav ul li a {
	color: #8e2d68;
}

.article .first-paragraph-title {
	margin-top: 3em;
}

.article .paragraph-title {
	margin-top: 4em;
}

.article .spaced-top-paragraph-title {
	margin-top: 6em;
}

.article a,
footer p a {
	color: #669a1a;
}

footer {
	margin: 5em 0 1em 0;
}

footer .disclaimer {
	background: #32373a;
	max-width: 100%;
	width: 100%;
}

footer .disclaimer .title {
	font-weight: 400;
	margin: 1.25em 2% 0 2%;
}

footer.row .disclaimer p {
	margin: 0 2% 2em 2%;
}

footer .container .socials-and-contacts {
	display: inline-block;
	margin-top: 4.5em;
}

@media only screen and (min-width: 33.75em) {
	.container {
		width: 80%;
	}
}

@media only screen and (min-width: 45em) {
	.col-1 {
		width: 4.33%;
	}

	.col-2 {
		width: 12.66%;
	}

	.col-3 {
		width: 21%;
	}

	.col-4 {
		width: 29.33%;
	}

	.col-5 {
		width: 37.66%;
	}

	.col-6 {
		width: 46%;
	}

	.col-7 {
		width: 54.33%;
	}

	.col-8 {
		width: 62.66%;
	}

	.col-9 {
		width: 71%;
	}

	.col-10 {
		width: 79.33%;
	}

	.col-11 {
		width: 87.66%;
	}

	.col-12 {
		width: 96%;
	}

	.hidden-sm {
		display: block;
	}

	header .logo {
		display: block;
	}

	header .logo a {
		height: 100%;
	}

	header .socials-and-contacts {
		float: right;
		margin-right: 0;
	}

	.row .article {
		margin: .5em 0;
		width: 100%;
	}

	.article .first-paragraph {
		margin-top: 0;
		text-align: justify;
	}

	.article nav ul li {
		text-align: left;
	}
}

@media only screen and (min-width: 60em) {
	.container {
		max-width: 65em;
		width: 80%;
	}
}
